.snkr-scene

  .snkr-img-wrapper
    width: 375px
    height: 265px
    overflow: hidden
    position: relative

    >img
      display: block
      width: 100%
      height: 100%
      margin: 0 auto
      transition: opacity 500ms linear
      opacity: 0
      position: absolute

      &.snkr-img-preview
        &.loaded
          opacity: 0.35

      &.snkr-large-image
        &.loaded
          opacity: 1

  .snkr-progress-wrapper
    background-color: #DDDDDD
    height: 2px
    width: 100%

    .snkr-progress
      background-color: #ff0016
      height: 100%
      transition: width 500ms linear
