.votes-number-wrapper
  height: 100%
  width: 100%
  position: relative

.votes-number
  position: absolute
  top: 50%
  width: 100%
  margin-top: -57px

  h1
    text-shadow: 0 0 5px rgba(0, 0, 0, .7)
    font-size: 72px
    pointer-events: none
