html
  height: 100vh
  user-select: none
  background: #F5F5F5
  -webkit-touch-callout: none
  -webkit-user-select: none
  user-select: none
  -webkit-tap-highlight-color: rgba(0,0,0,0)
  -webkit-touch-callout: none

#app-wrapper, #app
  height: 100%
  width: 100%

.preload-font
  visibility: hidden
